################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PongGame/.vs/PongGame
/PongGame/obj
/PongGame/.vs/ProjectEvaluation
/PongGame/bin/Debug/net8.0-windows
